# Database Settings
DB_HOST=localhost
DB_NAME=note_app
DB_USER=root
DB_PASS=

# Mail Settings (Optional)
MAIL_HOST=smtp.gmail.com
MAIL_USER=your_email@gmail.com
MAIL_PASS=your_app_password
MAIL_PORT=587

# App Settings
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:8080
